/AstolfoBeanPlushie/.vs/
/AstolfoBeanPlushie/AstolfoBeanPlushie/bin/
/AstolfoBeanPlushie/AstolfoBeanPlushie/obj/
*.meta
/AstolfoBeanPlushieResources/Assets/Building/AssetBundles/
/AstolfoBeanPlushieResources/Library/
